n8n-workflows/05-slack-notifications.json
{
  "name": "Callengo - Slack Notification Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-notify",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Notification Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "slack-notify"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/slack_integrations?company_id=eq.{{ $json.body.company_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "get-slack-config",
      "name": "Get Slack Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-slack",
              "leftValue": "={{ $json[0]?.access_token }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "slack-connected",
      "name": "Slack Connected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format Slack message based on event type\nconst slackConfig = $('Get Slack Config').first().json[0];\nconst payload = $('Notification Trigger').first().json.body;\nconst eventType = payload.event_type;\nconst data = payload.data || {};\n\nlet blocks = [];\nlet channel = slackConfig.default_channel || '#callengo-notifications';\n\nswitch (eventType) {\n  case 'call.completed':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Call Completed* :phone:\\n*Contact:* ${data.contact_name || 'Unknown'}\\n*Duration:* ${data.duration || 0}s\\n*Agent:* ${data.agent_name || data.agent_type || 'Unknown'}`\n        }\n      },\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Summary:* ${data.summary || 'No summary available'}`\n        }\n      }\n    ];\n    break;\n\n  case 'appointment.confirmed':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Appointment Confirmed* :white_check_mark:\\n*Contact:* ${data.contact_name || 'Unknown'}\\n*Date:* ${data.appointment_time || 'Unknown'}`\n        }\n      }\n    ];\n    break;\n\n  case 'appointment.rescheduled':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Appointment Rescheduled* :calendar:\\n*Contact:* ${data.contact_name || 'Unknown'}\\n*New Time:* ${data.new_datetime || 'TBD'}`\n        }\n      }\n    ];\n    break;\n\n  case 'appointment.no_show':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*No-Show Risk* :warning:\\n*Contact:* ${data.contact_name || 'Unknown'}\\n*Appointment:* ${data.appointment_time || 'Unknown'}`\n        }\n      }\n    ];\n    channel = slackConfig.alert_channel || channel;\n    break;\n\n  case 'lead.qualified':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Hot Lead!* :fire:\\n*Contact:* ${data.contact_name || 'Unknown'}\\n*Score:* ${data.score || 0}/100\\n*Next:* ${data.next_action || 'Follow up'}`\n        }\n      }\n    ];\n    channel = slackConfig.sales_channel || channel;\n    break;\n\n  case 'payment.failed':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Payment Failed* :rotating_light:\\n*Customer:* ${data.customer || 'Unknown'}\\n*Amount:* $${((data.amount || 0) / 100).toFixed(2)}`\n        }\n      }\n    ];\n    channel = slackConfig.alert_channel || channel;\n    break;\n\n  case 'campaign.completed':\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Campaign Completed* :checkered_flag:\\n*Name:* ${data.campaign_name || 'Unknown'}\\n*Calls Made:* ${data.total_calls || 0}\\n*Success Rate:* ${data.success_rate || 'N/A'}`\n        }\n      }\n    ];\n    break;\n\n  default:\n    blocks = [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*${eventType}*\\n${JSON.stringify(data, null, 2).substring(0, 500)}`\n        }\n      }\n    ];\n}\n\nreturn [{\n  json: {\n    channel: channel,\n    access_token: slackConfig.access_token,\n    blocks: blocks,\n    text: `Callengo: ${eventType}`\n  }\n}];"
      },
      "id": "format-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": \"{{ $json.text }}\",\n  \"blocks\": {{ JSON.stringify($json.blocks) }}\n}"
      },
      "id": "send-slack",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240]
    }
  ],
  "connections": {
    "Notification Trigger": {
      "main": [
        [
          { "node": "Get Slack Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Slack Config": {
      "main": [
        [
          { "node": "Slack Connected?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack Connected?": {
      "main": [
        [
          { "node": "Format Slack Message", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          { "node": "Send Slack Message", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "Callengo", "id": "callengo" },
    { "name": "Notifications", "id": "notifications" }
  ]
}
